body{
  /* background-color: #282c34; */
  background-color: rgb(253, 251, 251);
  padding: 0;
  margin: 0;
}
.container-lts{
  margin: 0;
  width: 100vw !important;
  height: 100vh;
}
.header{
  display: grid;
  grid-template-columns:50% 50%;
  grid-template-rows: 100%;
  height: 5rem;
  box-shadow: 1px 5px 20px #ccc;
  margin-bottom: 1rem;
}
.liteswap-logo{
  width: 2rem;
}
main{
  display: grid;
  place-items: center;
  justify-content: center;
  width: 100%;
  height: 90%;
  overflow-x: hidden;
}
.main-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  justify-content: center;
  width: 100%;
  height: 90%;
}

.menu{
  display: flex;
  align-items: center;
  padding-left:3rem;
}
.menu h1{
  font-size: 1em;
  padding-left: 0.5rem;
  font-weight: bolder;
}

.wallet{
  display: flex;
  align-items: center;

}
.card{
  box-shadow: 0px 0px 50px #ccc !important;
  width: 600px !important;
  height:400px;
  border-radius: 2em !important;
}

button{
  position: absolute;
  right: 1.5rem;
}

.cardWrapper{
  display: grid;
  grid-template-columns: 30% 1fr;
}
.imgWrapper{
  display: grid;
  place-items: center;
  height: 100%;
}
.imgWrapper img {
  width: 100%;
}

@media(max-width:450px){
  .cardWrapper{
    display: grid;
    grid-template-columns: 30% 1fr;
  }

  .main-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    place-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
  }
}

