body{
  /* background-color: #282c34; */
  /* background-color: rgb(253, 251, 251); */

  background: -webkit-linear-gradient(#e3f4fb,rgb(253, 251, 251), rgb(253, 251, 251));
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
li a{
  color: #333;
  text-transform: uppercase;
	font-size: 0.8em;
	letter-spacing: 0.2em;
}

li a:hover{
  color: #fc2b6d;
}
.container-lts{
  margin: 0;
  width: 100vw !important;
  height: 100vh;
}
.header{
  display: grid;
  grid-template-columns:50% 50%;
  grid-template-rows: 100%;
  height: 5rem;
  box-shadow: 1px 5px 20px #ccc;
  margin-bottom: 1rem;
  background-color: rgb(253, 251, 251);
}
.liteswap-logo{
  width: 2rem;
}
main{
  display: grid;
  place-items: center;
  justify-content: center;
  width: 100%;
  height: 90%;
  overflow-x: hidden;
}
.main-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  justify-content: center;
  width: 100%;
  height: 90%;
}

.main-other{
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  justify-content: center;
  width: 100%;
  height: 90%;
}

.menu{
  display: flex;
  align-items: center;
  padding-left:3rem;
}
.menu h1{
  font-size: 1em;
  padding-left: 0.5rem;
  font-weight: bolder;
  /* color: linear-gradient(to right, #660625, #fc2b6d); */
  background: -webkit-linear-gradient(#660625, #fc2b6d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

.wallet{
  display: flex;
  align-items: center;

}

.card-home{
  /* box-shadow: 0px -10px 50px rgb(224, 224, 224) !important; */
  width: 570px !important;
  height:auto;
}
.card-home h2{
  /* box-shadow: 0px -10px 50px rgb(224, 224, 224) !important; */
font-size:1.5em;
}

.card-swap{
  /* box-shadow: 0px -10px 50px rgb(224, 224, 224) !important; */
  width: 500px !important;
  height:auto;

}


.card-group{
  /* box-shadow: 0px -10px 50px rgb(224, 224, 224) !important; */
  width: 500px !important;
  height:auto;

}

.card-stake{
  /* box-shadow: 0px -10px 50px rgb(224, 224, 224) !important; */
  width: 500px !important;
  height:auto;

}
.card{
  box-shadow: 0px 0px 10px 0 #d9eaf3 !important;
  height:auto;
  border-radius: 2em !important;
  padding: 3rem;
  z-index: 3;
}
.card-body h2{
  background: -webkit-linear-gradient(#660625, #fc2b6d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

button{
 	height: 50px;
	/* width: 280px; */
	border: 0 !important;
	border-radius: 5px;
	text-transform: uppercase;
	font-size: 1.1em;
	letter-spacing: 0.2em;
	overflow: hidden;
	box-shadow: 0 4px 5px 0 rgba(152, 160, 180, 10);
  /* z-index: -2; */

  /* background-image: linear-gradient(to right, #fc2b6d, #222); */
  cursor: pointer;
}
.button-home{
  position: absolute;
  display: flex;
  justify-self: center;
  position: absolute;
  width: 280px;
  right: 1.5rem;
  background-image: linear-gradient(to right, #8bc9e4, #a1c3d1);
  box-shadow: 0 2px 5px 0 rgba(152, 160, 180, 10);
  color: #222 !important;
 
}

button:hover{
  box-shadow: 0 4px 20px 0 rgba(152, 160, 180, 10);
  background-image: linear-gradient(to right, rgb(122, 122, 122), #222);
}

.button-header{
  position: absolute;
  right: 1.5rem;
	height: 50px;
  width: 280px;
	border: 0;
	border-radius: 5px;
	text-transform: uppercase;
	font-size: 1.1em;
	letter-spacing: 0.2em;
	overflow: hidden;
	box-shadow: 0 4px 12px 0 rgba(152, 160, 180, 10);
  /* z-index: -2; */
  background-image: linear-gradient(to right, #b1204e, #fc2b6d);
  /* background-image: linear-gradient(to right, #fc2b6d, #222); */
  cursor: pointer;
}

.button-header:hover{
  box-shadow: 0 4px 20px 0 rgba(152, 160, 180, 10);
  /* z-index: -2; */
  background-image: linear-gradient(to right, #660625, #fc2b6d);
}


.button-dao{
  cursor: pointer;
	height: 50px;
	width: 22.5rem;
	border: 0;
	border-radius: 5px;
	text-transform: uppercase;
	font-size: 1.1em;
	letter-spacing: 0.2em;
	overflow: hidden;
  background-image: linear-gradient(to right, #8bc9e4, #a1c3d1);
  box-shadow: 0 2px 5px 0 rgba(152, 160, 180, 10);
  color: rgb(76, 68, 68);

}




.card-button{
  position: absolute;
  left:0;
  margin-left: 2em;
}

.cardWrapper{
  display: grid;
  grid-template-columns: 30% 1fr;
}
.imgWrapper{
  display: grid;
  place-items: center;
  height: 100%;
}
.imgWrapper img {
  width: 100%;
}

.img{
  width: 100%;
  height: auto;

}

.divider{
  width: 100vw;
  height: 50%;
  z-index: 2;
  /* background: rgb(98, 97, 97); */
  background: -webkit-linear-gradient(rgb(253, 251, 251), rgb(253, 251, 251), #e3f4fb);
  position: absolute;
  bottom: 0;
}

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  z-index:3;
  text-align: center;
  color:rgb(77, 75, 75) !important;
  background: transparent;
  padding: 1rem;
  max-width: 100%;
}

.cooperative-modal{
  height: 200px !important;

}

/*
Swapping rules
*/
.card-header-swap{
  border-radius: 0.4em !important;
  background-color: #fff8f8 !important;
}
.swap-input{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff8f8;
  height: 90px;
  border-radius:3px;
  margin-bottom: 1em;


}

.swap-input input, select{
  border: 0 !important;
  background-color: #fff8f8;

}

.swap-input input:focus, select:focus{
  border: 0 !important;
  background-color: #fff8f8;

}

.swap-button{
  width: 100%;
  color:rgb(49, 44, 44);
  border-radius: 0.4em;
  background-image: linear-gradient(to right, #8bc9e4, #a1c3d1);
  box-shadow: 0 2px 5px 0 rgba(152, 160, 180, 10);

}
.select-swap0{
  background-color: rgb(228, 222, 222);
  width: 60%;
  position: absolute;
  right: 1rem;
  padding: 0.39em;
  border-radius: 0.4em;
  color: rgb(46, 44, 44);
}
.select-swap1{
  background-color: rgb(70, 69, 69);
  width: 60%;
  position: absolute;
  right: 1rem;
  padding: 0.39em;
  border-radius: 0.4em;
  color: #fff;
}

.arrow-swap{
  position: absolute;
  z-index: 900;
  right: 47%;
  left: 47%;
  top: 54%;
  background-color: rgb(228, 222, 222);
  width: auto;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  padding: 0.4em;
}

.swap-balance{
  font-size: 1.2em;
}

@media(max-width:450px){
  .nav{
    display: none !important;
  }
  .cardWrapper{
    display: grid;
    grid-template-columns: 30% 1fr;
  }

  .menu{

    padding-left:1rem;
  }
  .main-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 1rem;
    margin-bottom: 2.5em;
  }

  .main-other{
    padding:1rem
  }
  .card{
   
    width: 100% !important;
    box-shadow: 0px 4px 10px rgb(212, 212, 212) !important;


  }
  .media{
    width: 245px !important;
  }

  button{
    display: flex;
    justify-self: center;
    position: absolute;
    /* width: 70%; */
    right: 0;
   
  }


  .button-home{
    display: flex;
    justify-self: center;
    position: absolute;
    width: 70%;
    right: 0;
   
  }



  .button-dao{
    cursor: pointer;
    position: relative;
    right: 1.5rem;
    height: 50px;
    width: 100%;
    border: 0;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 0.7em;
    letter-spacing: 0.2em;
    overflow: hidden;
    box-shadow: 0 4px 12px 0 rgba(152, 160, 180, 10);
    /* z-index: -2; */
    background-image: linear-gradient(to right,#222, #222) !important;
    color: #fff;
  
  }
  

  .button-header{
    position: absolute;
    right: 1.5rem;
    height: 50px;
    width: 80px;
    border: 0;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 0.6em !important;
    font-weight: bolder;
    text-shadow: 0 0 1px #222;
    

  }

  .divider{
display: none;
  }
  footer{

    max-width: 100%;
  }
}

