body{
    background-color: #E6D7E7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}
.contentbox {
    background-color: ;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    margin-left: -96px;
    z-index: 1;
}